<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Runner.ContactTestRunner"/>
      <class name="Runner.How_To_Wash_ClothesTestRunner"/>
      <class name="Runner.LiveChatTestRunner"/>
      <class name="Runner.LocationTestRunner"/>
      <class name="Runner.LoginTestRunner"/>
      <class name="Runner.Our_CommitmentTestRunner"/>
      <class name="Runner.SearchTestRunner"/>
      <class name="Runner.ShopProductTestRunner"/>
      <class name="Runner.WhatsTestRunner"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
